<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jib.wwyt.mapper.CzkUserMapper">
    <resultMap id="BaseResultMap" type="com.jib.wwyt.model.CzkUser">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="passwd" jdbcType="VARCHAR" property="passwd" />
        <result column="companynum" jdbcType="VARCHAR" property="companynum" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="mapurl" jdbcType="VARCHAR" property="mapurl" />
    </resultMap>

    <!--&lt;!&ndash;新建用户&ndash;&gt;-->
    <!--<insert id="insert" parameterType="com.jib.wwyt.model.CzkUser">-->
       <!--insert into czk_user values('${username}','${passwd}','${companynum}',0)-->
    <!--</insert>-->

    <!--查询用户名是否存在-->
    <select id="finduserbyname" resultType="int" parameterType="map">
        select count(1) from czk_user where username='${username}'
    </select>

    <!--查询密码是否正确-->
    <select id="userlogin" resultType="java.util.Map" parameterType="map">
        select * from czk_user where passwd='${passwd}' and  username='${username}'
    </select>

    <!--修改密码-->
    <update id="updateuser" parameterType="map">
       update czk_user set passwd='${passwd}' where id='${id}'
    </update>


</mapper>