<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jib.wwyt.mapper.EdmMapper">
    <!--新锐公司-->
    <select id="findEdmBytime" resultType="java.util.Map" parameterType="map">
        select id,type,updatetime,ygcode,ygname from main_signal_edm where updatetime >'${starttime}' and updatetime &lt;= '${endtime}' order by updatetime
    </select>
    <!--新锐公司-->
    <select id="findEdmByid" resultType="java.util.Map" parameterType="map">
        select id,type,updatetime,ygcode,ygname from main_signal_edm where id >${id}  order by updatetime
    </select>
</mapper>